.page {
    background-color: #222;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
}
.modelContainer {
    height: 100vw;
    width: 100%;

    background: radial-gradient(#74cef4, #1688b1, #046385, #01445c);
    border-radius: 1rem;
}
