@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

$font-handwriting: 'Satisfy', cursive;

$colour-blue: #27a2d6;
$colour-yellow: #ed9f32;
$colour-font: #043949;
$colour-font-light: #0a6a88;
